* {
    margin: 0;
    padding: 0;
  }
.minicontainer{
    display: flex;
   
}
.asosiyconta{
    margin-top: 50px;
    width: 1400px;
margin-left: 200px;

    
}
.savat1{
    width: 250px;
    height: 600px;
    
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-left: 50px;
    margin-top: 80px;
}
.heart{
    font-size: 38px;
    margin-left: 190px;
    margin-top: 30px;
}
.rasmbir{
    width: 150px;
    height: 150px;
    margin-left: 40px;
    margin-top: 10px;

}
.nick{
    margin-left: 10px;
    box-shadow: rgba(255, 254, 254, 0.826) 0px 0px 5px 0px, rgba(230, 229, 229, 0.695) 0px 0px 1px 0px;
   border-radius: 5px;
   background-color: rgba(255, 127, 80, 0.701);
   border: 1px solid whitesmoke;
}
.text{
    padding: 10px;
}
.raqam{
    padding: 10px;
}
h3 span{
    color: red;
}
.uy{
    margin-left: 20px;
    width: 200px;
    height: 35px;
    box-shadow: rgba(74, 74, 115, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border-radius: 10px;
    border: 2px solid red;
}
.basket{
font-size: 33px;
margin: auto;

}
