footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-top: 20px;

}
.footer-content1{
    width: 300px;
    height: 200px;
    
    margin-left: 100px;
}
.footer-content2{
    width: 300px;
    height: 200px;
    
    margin-left: 350px;
    margin-top: -95px;
}
.footer-content3{
    width: 300px;
    height: 200px;
    
    margin-left: 700px;
    margin-top: -200px;
}
.footer-sectionoff{
    width: 300px;
    height: 200px;
   
    margin-left: 1150px;
    margin-top: -200px;
}
